<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración de Cuenta - LUSAM Self-Driving</title>
    <!-- importamos el css -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/cambiocontrasena.css') }}">
</head>

<body>
    <div class="container">
        <h1>Configuración de Cuenta</h1>
        <p>Edita tu información personal o cambia tu contraseña.</p>

        <form method="POST" action="/recuperacioncontrasena" id="perfilForm" onsubmit="return checkConfirm()">

            <input type="hidden" name="usuario" value="{{ usuario }}">

            <!-- Contraseña -->
            <div class="pass-fields">
                <div>
                    <label for="password">Nueva contraseña</label>
                    <input type="password" id="password" name="password" minlength="8" required>
                </div>
                <div>
                    <label for="confirmar_password">Confirmar nueva contraseña</label>
                    <input type="password" id="confirmar_password" name="confirmar_password" minlength="8" required>
                    <div id="confirm-warning" class="warning">Las contraseñas no coinciden.</div>
                </div>
            </div>
            <div class="btns">
                <button class="save-btn" type="submit">Guardar Cambios</button>
            </div>
        </form>
    </div>

    <script>
        function checkConfirm() {
            const pass = document.getElementById("password").value;
            const confirm = document.getElementById("confirmar_password").value;
            const warning = document.getElementById("confirm-warning");

            if (pass !== confirm) {
                warning.style.display = 'block';
                return false;
            }

            warning.style.display = 'none';
            return true;
        }
    </script>
</body>

</html>
