<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>LUSAM SELF-DRIVING - Home</title>
       <!-- importamos el css -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/espera.css') }}">
</head>

<body>
    <div class="overlay"></div>
    <div class="navbar">
        <div class="user">
            <span>Usuario: {{ usuario }}</span>
        </div>
        <div class="nav-links">
            <a href="#">INSTRUCCIONES</a>
            <a href="#">GALERÍA</a>
            <a href="#">ACERCA DE</a>
        </div>
    </div>
    <div class="center-box">
        <h1>LUSAM<br>SELF-DRIVING</h1>
        <h2>¡Alguien más está al volante!</h2>
        <p>Esperando disponibilidad...</p>
        <button class="btn-stream">ENTRAR AL STREAM</button>
    </div>
</body>

</html>