<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas - LUSAM Self-Driving</title>
    <!-- importamos el css -->
    <link rel="stylesheet" href="{{ url_for('static', path='/estadisticas.css') }}">
</head>

<body>
    <div class="container">
        <h1>Estadísticas</h1>
        <p>Visualiza el rendimiento y métricas de tus vehículos autónomos.</p>
        <div class="stats">
            <div class="stat-card">
                <h2>Carros Registrados</h2>
                <img src="/static/auto.png" alt="Carros">
                <div>{{ carros_count }}</div>
            </div>
            <div class="stat-card">
                <h2>Fotos Tomadas</h2>
                <img src="/static/imagen.png" alt="Imagen">
                <div>{{ imagenes_count }}</div>
            </div>
            <div class="stat-card">
                <h2>Stream Realizados</h2>
                <img src="/static/stream.png" alt="Streams">
                <div>{{ streams_count }}</div>
            </div>
        </div>
        <button class="btn-menu" onclick="window.location.href='/menu'">Regresar al Menú</button>
    </div>
</body>

</html>