<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Capturas - LUSAM Self-Driving</title>
       <!-- importamos el css -->
    <link rel="stylesheet" href="{{ url_for('static', path='/galeria.css') }}">
</head>

<body>
    <div class="container">
        <h1>Galería de Capturas</h1>
        <p>Visualiza y gestiona las capturas de tus vehículos autónomos.</p>

        <!-- Galería de imágenes -->
        <div class="gallery">
            {% if imagenes %}
            {% for imagen in imagenes %}
            <div class="gallery-item">
                <img src="{{ imagen.Ruta }}" alt="{{ imagen.Etiqueta }}" style="transform: rotate(360deg);">

                <div class="image-info">
                    <p>{{ imagen.Etiqueta }}</p>
                    <p>{{ imagen.Fecha.strftime('%Y-%m-%d') }}</p>
                    <a class="delete-btn" href="/delete-image/{{ imagen._id }}"
                        onclick="return confirm('¿Estás seguro de eliminar esta imagen?')">Eliminar</a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No hay imágenes en la galería.</p>
            {% endif %}
        </div>

        <button class="btn-menu" onclick="window.location.href='/menu'">Regresar al Menú</button>
    </div>
</body>

</html>