<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar un Stream - LUSAM Self-Driving</title>
    <!-- importamos el css -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/verstream.css') }}">
</head>

<body>
    <div class="container">
        <h1>Visualizar un Stream</h1>
        <p>Observa el stream de otros vehículos autónomos en tiempo real.</p>

        <div class="search-container">
            <input type="text" id="streamIdInput" class="search-input" placeholder="Ingresa el ID del stream...">
            <button class="btn-menu" onclick="cargarStream()">Buscar</button>
        </div>

        <!-- Contenedor donde se mostrará el video -->
        <div class="stream-view">
            <img id="videoFeed" src="/stream/{stream_id}" alt="Stream del espectador"
                style="display: none; width: 100%; max-width: 640px; transform: rotate(180deg);" />
        </div>

        <div id="alertContainer"></div>

        <div class="buttons-container">
            <button class="btn-menu" onclick="window.location.href='/menu'">Regresar al Menú</button>
        </div>
    </div>

    <script>
        function showAlert(message, type) {
            const alertContainer = document.getElementById('alertContainer');
            const alertDiv = document.createElement('div');
            alertDiv.className = `alert-message alert-${type}`;
            alertDiv.textContent = message;
            alertContainer.innerHTML = ''; // Limpiar alertas anteriores
            alertContainer.appendChild(alertDiv);

            setTimeout(() => {
                alertDiv.remove();
            }, 4000);
        }

        async function cargarStream() {
            const streamId = document.getElementById("streamIdInput").value.trim();
            const video = document.getElementById("videoFeed");

            if (!streamId) {
                showAlert("Por favor, ingresa un ID de stream.", "warning");
                return;
            }

            // Verificar si el stream existe y está activo
            try {
                const response = await fetch(`/verificar_stream/${streamId}`);
                const data = await response.json();

                if (data.existe) {
                    showAlert("Stream encontrado", "success");
                    video.src = `/stream/${streamId}`;
                    video.style.display = "block";  // Mostrar el video
                } else {
                    showAlert("El stream no existe o no ha finalizado.", "warning");
                    video.style.display = "none";  // Ocultar el video si no hay stream
                }
            } catch (error) {
                console.error("Error al verificar el stream:", error);
                showAlert("Ocurrió un error al buscar el stream.", "warning");
            }
        }
    </script>
</body>

</html>